{% extends 'game_base.html' %}

{% block content %}
    <style>

        .button_vilaska {
            background-color: green;
            width: 100%;
        }

        .button a {
            
            text-decoration: none;
            color:  white;
            font-size: 0.9em;
        }

        .character_full_growth {
            display: block;
            max-width: 30%;
            max-height: 200px;
            padding: 10px;
            float: right;
            margin-right: 50px;
        }

        .character_stat_container {
            margin-top: 10px;
        }

        .character_stat_label {
            color:  white;
            font-weight: bold;
        }

        .character_stat_value {
            color:  #01aeb9;
            font-family: monospace;
            font-size: 1.1em;
        }

        .character_content {
            overflow: hidden;
        }

        .nickname {
            color:  white;
            font-weight: bold;
            font-size: 1.0em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    </style>

    <div class="content_1 character_content">
        <div class="nickname">{{ current_user.get_login() }}</div>
        <div>
            <img class="character_full_growth" src="static/character_1_full_growth.png" alt="character">
            <div class="character_stat_container">
                <div class="character_stat_label">Здоровье: <span class="character_stat_value">100</span></div>
                <div class="character_stat_label">Урон: <span class="character_stat_value">11</span></div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <a class="button button_vilaska" href="#">Вылазка</a>
    </div>

    <div class="buttons">
        <a class="button" href="#">Торговец</a>
        <a class="button" href="{{ url_for('logout') }}" style="background-color: rgb(91, 91, 91);">Выйти</a>
    </div>

{% endblock %}
