{% extends 'game_base.html' %}

{% block content %}
    <style>
        .buttons {
            display: flex;
        }

        .button {
            background-color: gray;
            text-align: center;

            width: 50%;

            margin-left: 5px;
            margin-right: 5px;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
        
            text-decoration: none;
            color:  white;
            font-size: 1em;

            padding: 5px;
        }

        .button_vilaska {
            background-color: green;
            width: 100%;
        }

        .button a {
            
            text-decoration: none;
            color:  white;
            font-size: 0.9em;
        }

        .character_full_growth {
            display: block;
            max-width: 30%;
            max-height: 200px;
            padding: 10px;
            float: right;
            margin-right: 50px;
        }

        .character_stat_container {
            margin-top: 10px;
        }

        .character_stat_label {
            color:  white;
            font-weight: bold;
        }

        .character_stat_value {
            color:  #01aeb9;
            font-family: monospace;
            font-size: 1.1em;
        }

        .character_content {
            overflow: hidden;
        }
    </style>

    <div class="content_1 character_content">
        <img class="character_full_growth" src="static/character_1_full_growth.png" alt="character">
        <div class="character_stat_container">
            <div class="character_stat_label">Здоровье: <span class="character_stat_value">100</span></div>
            <div class="character_stat_label">Урон: <span class="character_stat_value">11</span></div>
        </div>
    </div>

    <div class="buttons">
        <a class="button button_vilaska" href="#">Вылазка</a>
    </div>

    <div class="buttons">
        <a class="button" href="#">Торговец</a>
        <a class="button" href="#">Профиль</a>
    </div>

{% endblock %}
