{% extends 'game_base.html' %}

{% block content %}
    <style>
        * {
            margin: 0px;
        }

        progress {
            background-color: #f3f3f3;
            display: block;
            width: auto;
            height: 7px;
            border-radius: 7px;
            margin: 5px;
        }

        progress::-webkit-progress-bar {
            border-radius: 7px;
        }

        progress::-webkit-progress-value {
            background-color: orange;
            border-radius: 7px;
        }

        .target_text {
            font-weight: bold;
            color: red;
        }

        .enemy_image_div {
            height: 100px;
            width: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        .enemy_image {
            width: auto;
            max-height: 300px;
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            clip: rect(0px, 200px, 100px, 0px);
        }

        .enemy_group {
            max-height: 100px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .fire_button {
            display: block;
            background-color: green;
            width: auto;
        }

        .space {
            margin: 10px;
        }

        .button_block {
            display: block;
            width: auto;
        }
    </style>

    <div class="content_1">
        <div class="info_text_1 target_text">Лагерь бандитов</div>

        <!-- <div class="enemy_image_div">
            <img class="enemy_image" src="./group_bandit.png" alt="character">
        </div> -->
        
        <img class="enemy_group" src="static/group_bandit.png" alt="character">

        <div class="space"></div>

        <div class="enemy"></div>

        <div class="info_text_1">Атакуй их</div>
        <progress value="30" max="100"></progress>
        <a class="button fire_button" href="#">Стрелять</a>

        <div class="space"></div>

        <div class="info_text_1">Моя прочность</div>
        <progress value="80" max="100"></progress>
    </div>

    <a class="button button_block" href="#">Убежать</a>
{% endblock %}