{% extends 'game_base.html' %}

{% block content %}
    <style>
        .join_button {
            display: block;
            background-color: green;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

        .space {
            margin: 10px;
        }

        input {
            display: block;
            width: 95%;
            margin: 5px;
        }
    </style>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">Имя вылазки</div>
        <div class="info_text_1">Кол-во участников 1 из 10</div>
        <a class="button join_button" href="#">Присоединиться</a>
    </div>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">Имя вылазки</div>
        <div class="info_text_1">Кол-во участников 1 из 10</div>
        <a class="button join_button" href="#">Присоединиться</a>
    </div>

    <div class="content_1">
        <input type="text"></input>
        <a class="button button_block" href="#">Создать вылазку</a>
    </div>

    <a class="button button_block" href="#">Главная</a>
{% endblock %}