{% extends 'game_base.html' %}

{% block content %}
    <style>
        .player_name {
            text-align: left;
        }
    </style>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">{{ vilaska.name }}</div>
    </div>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">Игроки</div>
        {% for player in vilaska.players %}
            <div class="info_text_1 player_name">{{ loop.index }}. {{ player.user.login }}</div>
        {% endfor %}
    </div>

    <a class="button button_block" style="background-color: green;" href="{{ url_for('vilaska_start') }}">Выдвигаемся</a>
    <a class="button button_block" href="{{ url_for('vilaska_leave') }}">Выйти</a>
{% endblock %}
