{% extends 'game_base.html' %}

{% block content %}
    <div class="content_1">
        <div class="info_text_1 vilaska_header">Вылазка окончена</div>
    </div>
    <div class="content_1">
        <div class="info_text_1 vilaska_header">Предметы которые вы нашли в лагере</div>
        <div style="height: 15px;"></div>
        <div class="info_text_1" style="text-align: left;">Деньги: 50 руб</div>

    </div>

    <a class="button button_block" href="{{ url_for('home') }}">Главное меню</a>
{% endblock %}