{% extends 'game_base.html' %}

{% block content %}
    <style>
        .player_name {
            text-align: left;
        }
    </style>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">Имя вылазки</div>
    </div>

    <div class="content_1">
        <div class="info_text_1 vilaska_header">Игроки</div>
        <div class="info_text_1 player_name">1. Сергей</div>
        <div class="info_text_1 player_name">2. Вова</div>
        <div class="info_text_1 player_name">3. Никита</div>
    </div>

    <a class="button button_block" style="background-color: green;" href="#">Выдвигаемся</a>
    <a class="button button_block" href="#">Выйти</a>
{% endblock %}
