{% extends 'game_base.html' %}

{% block content %}
    <style>
        .join_button {
            display: block;
            background-color: green;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

        .space {
            margin: 10px;
        }

        input {
            display: block;
            width: 95%;
            margin: 5px;
        }
    </style>

    {% for v in vilaska_list %}
        <div class="content_1">
            <div class="info_text_1 vilaska_header">{{ v.name }}</div>
            <div class="info_text_1">Кол-во участников {{ v.players|length }} из 10</div>
            <a class="button join_button" href="{{ url_for('vilaska_join', vilaska_id=v.id) }}">Присоединиться</a>
        </div>
    {% endfor %}

    <form action="/vilaska_create" method="post">
        <div class="content_1">
            <input type="text", name="name"></input>
            <input type="submit" value="Создать вылазку">
        </div>
    </form>

    <a class="button button_block" href="{{ url_for('home') }}">Главная</a>
{% endblock %}